body {
	font-family: 'Lato', san-serif;
	font-weight: 300;
	font-size: 1.6em;
	-webkit-font-smoothing: antialiased;
}

.headline {
	text-align: center;
	margin: 0 auto 80px;
	text-transform: uppercase;
	font-weight: 300;
}

.prime-box {
	background: url('../img/background.jpg') no-repeat 50% 70%;
	background-size: cover;
	width: 100%;
	color: #fff;
	overflow: hidden;
	position: relative;
	.box-overlay {
		height: 100%;
		width: 100%;
		background: #704214;
		opacity: .3;
		top: 0;
		left: 0;
		position: absolute;
		-webkit-filter: brightness(50%) contrast(10%);
	}
}
.main-header {
	background: rgba(255,255,255,0.8);
	z-index: 1;
	position: relative;
	padding: 5px 0;
	@include box-shadow(0,1px,2px,rgba(0, 0, 0, 0.15));
	@include transition(.2s ease-in-out);
	&.is-scrolled {
		position: fixed;
		width: 100%;
		top: -64px;
		left: 0;
	}
	&.is-fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
	}
	a {
		color: #666;
		text-decoration: none;
	}
	.main-logo a {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background: url('../img/logo.png') no-repeat 0 0;
		height: 54px;
		width: 188px;
		display: block;
	}
	#main-nav {
		margin: 13px 0;
		li {
			margin: 0 0 0 15px;
			padding: 0;
			a {
				display: block;
				font-size: 13px;
				padding: 5px 12px;
				font-weight: 500;
				text-transform: capitalize;
				@include rounded(3px);
				@include transition(.1s linear);
				&:hover {
					background: rgba(0,0,0,0.4);
					color: #fff;
				}
			}
		}
	}
}

#conf-quote {
	padding: 80px 0;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
}

#conf-program {
	background: #F3FAFF;
	border-top: 1px solid #E1EEF7;
	border-bottom: 1px solid #E1EEF7;
	padding: 80px 0;
	.cards {
		.head {
			margin: auto;
			height: 150px;
			width: 150px;
			line-height: 150px;
			text-align: center;
			color: #fff;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			@include rounded(100%);
		}
		&.space {
			.head {
				background: #6EC5FA;
			}
		}
		&.growth {
			.head {
				background: #FF7070;
			}
		}
		&.comm {
			.head {
				background: #FFE873;
			}
		}
		.body {
			margin: 20px 40px 0;
			text-align: center;
		}
	}
}

#conf-mentor {
	padding: 80px 0;
	.list-item {
		border: 1px solid rgba(0,0,0,0);
		padding: 10px;
		@include rounded(6px);
		@include transition(.1s linear);
		&:hover {
			border-color: rgba(0,0,0,0.2);
			@include box-shadow(0,1px,1px,rgba(0,0,0,0.15));
		}
		ul {
			margin: 0;
		}
	}
}

#conf-contact {
	padding: 80px 0;
}

#conf-footer {
	padding: 15px 0;
	font-size: .8em;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  border-left: 0 solid #000;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-family: 'Helvetica', arial, san-serif;
  font-size: 7em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: close-quote;
  font-family: 'Helvetica', arial, san-serif;
  font-size: 7em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.7em;
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale3d(1, 1, 1); }
  25% { -webkit-transform: scale3d(1.2, 1.2, 1.2); }
  50% { -webkit-transform: scale3d(1, 1, 1); }
  75% { -webkit-transform: scale3d(1.1, 1.1, 1.1); }
	100% { -webkit-transform: scale3d(1, 1, 1); }
}
.pulse {
  -webkit-animation: pulse .5s;
}